main {
  padding: 60px 0;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
main {
  display: flex;
  /* flex-flow: row wrap; */
  flex-direction: row;
}
main > * {
  margin: 0 20px;
  box-sizing: border-box;
}
main > article {
  flex: 1 80%;
}
main > aside {
  flex: 3 20%;
}
article {
  position: relative;
  order: 1;
}
aside {
  order: 2;
}
/* ======== ARTICLE ======== */
article .title_home {
  margin-bottom: 30px;
  text-transform: uppercase;
}
article .title_home::before {
  content: "";
  display: block;
  border-bottom: 1px solid var(--gray);
  position: absolute;
  width: 84%;
  right: 0;
  top: 16px;
}

article .title {
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

article .title::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--gray);
  position: relative;
  width: 40%;
  margin: 0 auto;
  top: 10px;
}

/* ======== POSTS ======== */
.posts {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}
.posts_img {
  overflow: hidden;
  border-radius: 4px;
}
.posts_img img {
  max-width: 100%;
  height: auto;
}

.posts_content {
  position: relative;
}
.posts_content h2 {
  margin-bottom: 10px;
}
.posts_content p {
  line-height: 1.5;
  margin-bottom: 10px;
}
.posts_content a {
  margin-bottom: 20px;
  display: block;
}
.posts_content a .bx {
  position: relative;
  top: 2px;
}
.posts_content_meta::before {
  content: "";
  display: block;
  border-top: 1px solid var(--light);
  position: absolute;
  width: 30%;
  left: 0;
}
.posts_content_meta ul {
  list-style: none;
  padding-top: 10px;
  position: relative;
}
.posts_content_meta ul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}
.posts_content_meta ul li::after {
  content: "|";
  display: inline-block;
  position: relative;
  right: -12px;
  color: var(--gray);
}
.posts_content_meta ul li:last-child::after {
  display: none;
}

/* ======== FOOTER ======== */
footer {
  background-color: var(--light);
  padding: 40px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color: #f80002;
  font-weight: 300;
}
.footer_logo img {
  height: 45px;
}

/* ======== CONTENT GUIDED ======== */
.section_guided p {
  line-height: 2;
  margin-bottom: 10px;
}
.section_guided h2 {
  margin: 20px 0 20px 0;
}

.section_guided h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--light);
  position: relative;
  width: 100%;
}

blockquote {
  background-color: #eee;
  padding: 20px;
  border-left: 2px solid #f80002;
}
