main {
  padding: 60px 0;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
main {
  display: flex;
  /* flex-flow: row wrap; */
  flex-direction: row;
}
main > * {
  padding: 0 10px;
}
main > article {
  flex: 1 80%;
}
main > aside {
  flex: 3 20%;
}
article {
  order: 1;
}
aside {
  order: 2;
}
/* ======== ARTICLE ======== */
article .title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
article h1 {
  font-family: Merriweather, serif;
}
/* ======== POSTS ======== */
.posts {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}
.posts_img {
  overflow: hidden;
  border-radius: 4px;
}

.posts_img img {
  max-width: 100%;
  height: auto;
}
